@charset "utf-8";
/* CSS Document */

*{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}

body{
	background-color: #F8D6F8;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

header{
	background-color: burlywood;
	padding:10px;
	color: white
}
	
header nav ul{
	list-style: none;
		display: flex;
}

header nav ul li{
	margin-left: 15px;
}

footer{
	background-color: coral;
	color: aliceblue;
	text-align: center;
	padding: 5px
}
